In [9]:
import pandas as pd

df=pd.read_csv("noc_regions.csv")

In [11]:
df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [14]:
print(df.shape)

(230, 3)

In [15]:
print(df.columns)

Index(['NOC', 'region', 'notes'], dtype='object')

In [17]:
print(df.dtypes)

NOC       object
region    object
notes     object
dtype: object

In [18]:
print(df.info)

<bound method DataFrame.info of      NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]>

In [19]:
region_df=df['region']

In [20]:
region_df.head()

0    Afghanistan
1        Curacao
2        Albania
3        Algeria
4        Andorra
Name: region, dtype: object

In [21]:
region_df.tail()

225       Yemen
226       Yemen
227      Serbia
228      Zambia
229    Zimbabwe
Name: region, dtype: object

In [22]:
subset_of_columns=df[['region','notes']]

In [26]:
subset_of_columns.head()

        region                 notes
0  Afghanistan                   NaN
1      Curacao  Netherlands Antilles
2      Albania                   NaN
3      Algeria                   NaN
4      Andorra                   NaN

In [27]:
df.loc[0]

NOC               AFG
region    Afghanistan
notes             NaN
Name: 0, dtype: object